<h1> Ola Mundo !</h1>
<h2>{{title}}</h2>
<h2> Hora atual :{{obterHoraAtual()}}</h2>

<h3 *ngIf="jaEnoite()"> Boa Noite </h3>
<h4 *ngIf="jaETarde()">  Boa tarde </h4>
<h4 *ngIf="jaEDia()">  Bom dia </h4>


<hr/>

<h1 > Nome das Pessoas : </h1>
<div *ngFor="let pessoa of nomes">
    <h2>Aluno :{{pessoa}}</h2>
</div>

<button (click)="aoClicarBotao()"> Incrementar</button>
<p>Valor Atual  : {{valorAtual}}</p>
<p>O nome digitado é : {{nomePessoa}}</p>
<input 
        type="text" 
        placeholder="Informe o seu nome" 
        [(ngModel)]="nomePessoa"
       />

   
       <hr/>
        <a routerLink="/teste/Laerte">Link para tese</a>
       <router-outlet></router-outlet>  